* {
    font-family: sans-serif;
    background-color: aqua;
}

.card{
    border: 1px solid black;
    max-width: fit-content;
    border-radius: 0.8rem;
    padding: 8rem;
    align-self: center;
    margin: auto;
    background-color: gray;
    box-shadow: 1rem 1rem 1rem;
}

table, th, td{
    border: 1px solid black;
    border-spacing: 0;
}

h2{
    text-align: center;
}

th, td{
    padding: 1rem;
}